/* #centralizar {
  text-align: center;
}

.cute-button {
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
  }
  
  .cute-button.pink {
    background-color: pink;
    color: white;
  }
  
  .cute-button.pink:hover {
    box-shadow: 0 0 10px pink;
    transform: translateY(-2px);
  }

  .cute-input {
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    box-sizing: border-box;
  }
  
  .cute-input.pink {
    background-color: pink;
    color: white;
  }
  
  .cute-input.pink:hover {
    box-shadow: 0 0 10px pink;
    transform: translateY(-2px);
  } */